/* BASIC STYLES HERE */
.background-img {
    /* background-size: cover; */
    /* background-position: center center; */
    background-repeat: no-repeat;
    /* width: fit-content;
    height: auto; */
    background-position: center;
    background-size: cover;
}

body {
    font-family: 'Dosis', sans-serif;
    color: seashell
        /* padding: 5em; */
        /* margin: auto; */
        /*  add some styles to keep the background from repeating. Try to scale the image larger */

}

.font-dosis {
    font-family: 'Dosis', sans-serif;
}

/* UTILITIES */
.bx-bg-blur {
    color: whitesmoke;
    backdrop-filter: blur(10px);
    border-radius: 6px;
    /* padding: .5em; */
    background-color: rgba(22, 17, 17, 0.405);
}

/* .text-align {
    text-align: ;
} */

/* .author-name {
    revealed on hover
} */

/* .author-name:hover {} */

.overflow {
    overflow: scroll;
}

.image-body {
    visibility: hidden;
    opacity: 0;
    transition: ease 1s;

    backdrop-filter: blur(20px);
    border: 2px solid white;
    border-radius: 5px;
    padding: .5em;
    background-color: rgba(22, 19, 28, 0.59);
}